{% extends 'review/base.html' %}

{% block title %}
    Review - {{ review.name }}
{% endblock %}
{% block content %}
    {% if user.is_authenticated and user == review.author %}
        <a class="btn btn-info btn-sm float-right" href="/review/update_review/{{ review.pk }}" role="button">
            <i class="fas fa-pen"></i>
            Update Review
        </a>
    {% endif %}

    <div class="col-lg-8">
        <h1 class="mt-4">{{ review.title }}</h1>
        <p class="lead">
            by
            <a href="#">{{ review.author }}</a>
        </p>

        <hr>

        <p>{{ review.get_markdown_review | truncatewords_html:45 | safe }}</p>

        <p>{{ review.description }}</p>

        <p>{{ review.review }}</p>
        <hr>
        <a class="btn btn-info btn-sm float-right" href="/shop" role="button">
            <i class="fas fa-pen"></i>
           상품 보러가기
        </a>
    </div>
{% endblock %}