{% extends 'review/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <h1>
    Review
    {% if search_info %}<small class="text-muted">{{ search_info }}</small>{% endif %}
    </h1>
    <div class="row my-3">
        <div class="col-6">
            {% if user.is_authenticated %}
                <a class="btn btn-info btn-sm" href="create_review/" role="button">
                    <i class="fas fa-pen"></i>New Review
                </a>
            {% endif %}
            <a class="btn btn-info btn-sm" href="review" role="button">Review List</a>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." id="search-input">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search" onclick="searchPost();">검색</button>
                </div>
            </div>
        </div>
    </div>

    {% for r in review_list %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ r.title }}</h2>
                <p class="card-text">{{ r.description }}</p>
{#                <p class="card-text">{{ r.get_content_markdown | truncatewords_html:45 | safe }}</p>#}
                <a href="{{ r.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                {% if r.tags.exists %}
                    <br/>
                    <i class="fas fa-tags"></i>
                    {% for tag in r.tags.iterator %}
                        <a href={{ tag.get_absolute_url }}>{{ tag }}</a>
                    {% endfor %}
                    <br/>
                    <br/>
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                Review on {{ r.created }} by
                <a href="#">{{ r.author }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
