{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Product Detail
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-4">
            <img src="{{ product.image.url }}" width="100%">
        </div>
        <div class="col">
            <h1 class="display-6">상품 : {{ product.name }}</h1>
            <p><span class="badge badge-secondary">Price</span> {{ product.price }} ￦</p>
{#            <form action="{% url 'cart:product_add' product.id %}" method="post">#}
{#                {{ add_to_cart }}#}
{#                {% csrf_token %}#}
{#                <input type="submit" class="btn btn-primary btn-sm" value="Add to Cart">#}
{#            </form>#}
            <h5>상품 설명<hr/>{{ product.description|linebreaks }}</h5>
            <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form id="comment-form" method="POST" action="{{ product.get_absolute_url }}new_comment/">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
            {% if product.comment_set.exists %}
        {% for comment in product.comment_set.iterator %}
        <div class="media mb-4">
            <div class="media-body" id = "comment-{{ comment.pk }}">
                <h5 class="mt-0">&nbsp{{ comment.author }} ({{ comment.created_at }})</h5>
                <p>&nbsp{{ comment.content }}</p>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
        </div>


        <!-- Single Comment -->



    </div>
{% endblock %}