{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Product Detail
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-4">
            <img src="{{ product.image.url }}" width="100%">
        </div>
        <div class="col">
            <br>
            <h1 class="display-3"> {{ product.category }}
                {% if user.is_authenticated and user.is_superuser %}
                    <a class="btn btn-info btn-sm float-right" href="/shop/update_product/{{ product.pk }}" role="button">
                    <i class="fas fa-pen"></i>
                    Update Product
                    </a>
            {% endif %}</h1>
            <h3 class="display-6">{{ product.name }}</h3>
            <p class="display-7"><span class="badge badge-secondary">Price</span> {{ product.price }} ￦</p>
            <h5>{{ product.description|linebreaks }}</h5>
            <div class="card my-4">

                <h5 class="card-header">Comment:</h5>
            <div class="card-body">
                <form id="comment-form" method="POST" action="{{ product.get_absolute_url }}new_comment">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
            {% if product.comment_set.exists %}
                {% for comment in product.comment_set.iterator %}
                    <div class="media mb-4">
                        <div class="media-body" id = "comment-{{ comment.pk }}">
                            <h5 class="mt-0">&nbsp{{ comment.author }} ({{ comment.created_at }})</h5>
                            <p>&nbsp{{ comment.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
