{% extends 'shop/base.html' %}

{% block title %}
    Category Page
{% endblock %}

{% block content %}

    <div class="row">
        {% include 'shop/side_nav.html' %}

        <div class="col">
            <div class="alert alert-info">
                {% if current_category %}
                    {{ current_category.name }}
                {% else %}
                    All Products
                {% endif %}
                {% if user.is_authenticated and user.is_superuser %}
                    <a href="/shop/create_product/" class="btn btn-primary float-right">Create Product</a>
                {% endif %}
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-4">
                        <div class="card">
                            {% if product.image %}
                                <img class="cart-img-top" src="{{ product.image.url }}" alt="Product Image">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
{#                                <p class="card-text">{{ product.description }}#}
                                <p class="card-test">
                                    <span class="badge badge-secondary">{{ product.price }} ￦</span></p>
                                <a href="{{ product.get_absolute_url }}" class="btn btn-primary">View Detail</a>
                                <a href="{{ product.get_absolute_url2 }}" class="btn btn-primary">View Review</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

